@model Projeto_pimWEB.Models.Classes.FolhaPagamento

@{
	ViewData["Title"] = "CreatFolha";
}

<h1>Folha de Pagamento de Salário</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<h4>Nome </h4>
			<p>@Model.Funcionario.Nome</p>
		</div>

		<div class="form-group">
			<h4>Departamento </h4>
			<p>@Model.Funcionario.Departamento</p>
		</div>

		<div class="form-group">
			<h4>Cargo </h4>
			<p>@Model.Funcionario.Cargo</p>
		</div>

		<div class="form-group">
			<h4>Data de Emissão</h4>

			<p>@Model.DataEmissao</p>
		</div>

		<div class="form-group">
			<h4>Referencia: </h4>
			<p>@Model.MesAnoRef</p>
		</div>



		<!--Separa apenas os dados a serem enviados, permitindo salvar a folha no banco de dados-->
		<form asp-action="CreatFolha" method="post">
			<input asp-for="id_cod_func" type="hidden" value="@Model.Funcionario.id_cod_func" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="DataEmissao" type="hidden" class="form-control" />
			<input asp-for="MesAnoRef" type="hidden" class="form-control" />
			<input asp-for="Jornada" type="hidden" class="form-control" />
			<input asp-for="SalarioBruto" type="hidden" class="form-control" />
			<input asp-for="Inss" type="hidden" class="form-control" />
			<input asp-for="Irrf" type="hidden" class="form-control" />
			<input asp-for="SalarioLiquido" type="hidden" class="form-control" />
			<input asp-for="Fgts" type="hidden" class="form-control" />
			<div class="form-group">
				<button type="submit" value="Create" class="btn btn-primary"> Salvar Folha </button>
			</div>
		</form>
	</div>
</div>

<div>
	<button onclick="window.history.back()" class="btn btn-secondary">Back to List</button>
	<button asp-action="" class="btn btn-secondary">Adicionar Beneficios</button>
	<button asp-action="" class="btn btn-secondary">Adicionar Descontos</button>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
