@model Projeto_pimWEB.Models.Classes.FolhaPagamento
@{
    ViewData["Title"] = "Folha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Folha de pagamento</h1>



<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Data da Emissão
            </th>
            <th>
                Mes/Ano de referência
            </th>
            <th scope="col">
                Nome
            </th>
            <th scope="col" class="numero">
                Salário B.
            </th>
            <th scope="col" class="numero">
                Salário L.
            </th>
            <th scope="col" class="numero">
                INSS
            </th>
            <th scope="col" class="numero">
                IRRF
            </th>
            <th scope="col" class="numero">
                FGTS
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.DataEmissao</th>
            <th>@Model.MesAnoRef</th>
            <th>@Model.Funcionario.Nome</th>
            <th>R$ @Model.SalarioBruto</th>
            <th>R$ @Model.SalarioLiquido</th>
            <th>R$ @Model.Inss</th>
            <th>R$ @Model.Irrf</th>
            <th>R$ @Model.Fgts</th>
        </tr>
    </tbody>
</table>
<div class="col d-flex justify-content-end">
    <button type="submit" class="btn btn-lg btn-success"> Confirmar <i class="bi bi-arrow-return-right"></i></button>
</div>

