@model List<Projeto_pimWEB.Models.Classes.FolhaPagamento>

@{
	ViewData["Title"] = "Registro de Folha";
}

<table class="table" id="Registro_FP">
	<thead>
		<tr>
			<th scope="col" class="d-none d-lg-table-cell">#</th>
			<th scope="col">Nome</th>
			<th scope="col">Cargo</th>
			<th scope="col" class="d-none d-lg-table-cell">Departamento</th>
			<th scope="col">Salario Bruto</th>
			<th scope="col">Salario Liquido</th>
			<th scope="col">INSS</th>
			<th scope="col">IRRF</th>
			<th scope="col">FGTS</th>
			<th scope="col">Horas extras</th>
			<th scope="col">Bonus</th>
			<th scope="col">Atrasos</th>
			<th scope="col">Faltas</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			foreach (var fp in Model)
			{
				<tr>
					<th scope="row" class="d-none d-lg-table-cell">@fp.Funcionario.id_cod_func</th>
					<td>@fp.Funcionario.Nome</td>
					<td class="d-none d-lg-table-cell">@fp.Funcionario.Cargo</td>
					<td>@fp.Funcionario.Departamento</td>
					<td>R$ @fp.SalarioBruto</td>
					<td class="d-none d-lg-table-cell">R$ @fp.SalarioLiquido</td>
					<td>R$ @fp.Inss</td>
					<td>R$ @fp.Irrf</td>
					<td>R$ @fp.Fgts</td>
					<td>Horas: @fp.HorasExtras</td>
					<td>R$ @fp.Bonus</td>
					<td>Horas: @fp.Atrasos</td>
					<td>Dias: @fp.Faltas</td>
					<td>
						<div>
							<a asp-controller="FolhaPagamento" asp-route-id="@fp.id_cod_FP" asp-action="FolhaDownload" class="btn btn-primary"> Gerar Folha</a>
						</div>
					</td>
				</tr>
			}
		}
	</tbody>
</table>