@model Projeto_pimWEB.Models.Classes.Funcionario

@{
	ViewData["Title"] = "Registro de Folhas";

}



<h1>
	Registro de folhas.
</h1>
<h4>
	Funcionario(a): @Model.Nome
</h4>

<table class="table">
	<thead>
		<tr>
			<th scope="col">ID Folha</th>
			<th scope="col">Data de emissão</th>
			<th scope="col">Mês e ano</th>
			<th scope="col">Salario Liquido</th>
			<th scope="col">Salario Bruto</th>
			<th scope="col">INSS</th>
			<th scope="col">IRRF</th>
			<th scope="col">FGTS</th>
			<th scope="col">Horas Extras</th>
			<th scope="col">Bonus</th>
			<th scope="col">Atrasos por horas</th>
			<th scope="col">Faltas </th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
			@if (Model != null)
			{
				<tr>
				@foreach(var fp in Model.Folhas)
				{
					<td>@fp.id_cod_FP</td>
					<td>@fp.DataEmissao</td>
					<td>@fp.MesAnoRef</td>
					<td>@fp.SalarioLiquido</td>
					<td>@fp.SalarioBruto</td>
					<td>@fp.Inss</td>
					<td>@fp.Irrf</td>
					<td>@fp.Fgts</td>
					<td>@fp.HorasExtras</td>
					<td>@fp.Bonus</td>
					<td>@fp.Atrasos</td>
					<td>@fp.Faltas</td>
					<td>
						<div>
							<a asp-controller="FolhaPagamento" asp-route-id="@fp.id_cod_FP" asp-action="FolhaDownload" class="btn btn-primary">Baixar folha </a>
						</div>
					</td>
				}
				</tr>
				
			}
	</tbody>
</table>
<br />

<h4> Todos os descontos</h4>
<table class="table">
	@if (Model.Folhas != null)
	{
		@foreach (var fp in Model.Folhas)
		{
			<thead>
				<tr>
					<th scope="col">Motivo Descontos</th>
					<th scope="col">Valores</th>

				</tr>
			</thead>

			@foreach (var desc in fp.Descontos)
			{
				if(desc != null)
				{
					<tbody>
						<tr>
							<td>@desc.Motivo</td>
							<td>@desc.Valor</td>
						</tr>
					</tbody>
				}
				else
				{
					<tbody>
						<tr>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				}

			}
		}
		
	}
</table>
<br />

<h4> Todos os beneficios</h4>
<table class="table">
	@if (Model.Folhas != null)
	{
		@foreach (var fp in Model.Folhas)
		{
			<thead>
				<tr>
					<th scope="col">Beneficios</th>
					<th scope="col">Valores</th>

				</tr>
			</thead>

			@foreach (var bene in fp.Beneficios)
			{

				<tbody>
					<tr>
						<td>@bene.Nome_Ben</td>
						<td>@bene.valor</td>
					</tr>
				</tbody>
			}
		}

	}
</table>

					<!-- Precisa adicionar um botao de voltar-->