@model Projeto_pimWEB.Models.Classes.Funcionario

@{
	ViewData["Title"] = "Registro de Folhas";

}

@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger close-alert" role="alert">
		@TempData["MensagemErro"]
	</div>
}

@if (TempData["MensagemSucesso"] != null)
{
	<div class="alert alert-success close-alert" role="alert">
		@TempData["MensagemSucesso"]
	</div>
}


<h1>
	Registro de folhas
</h1>
<h4>
	Funcionario(a): @Model.Nome
</h4>

<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Data de emissão</th>
			<th scope="col">Mês e ano</th>
			<th scope="col">Salario Liquido</th>
			<th scope="col">Salario Bruto</th>
			<th scope="col">INSS</th>
			<th scope="col">IRRF</th>
			<th scope="col">FGTS</th>
			<th scope="col">Horas Extras</th>
			<th scope="col">Bonus</th>
			<th scope="col">Atraso horas</th>
			<th scope="col">Faltas </th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
			@if (Model != null)
			{
				@foreach(var fp in Model.Folhas)
				{
					<tr>
						<td>@fp.id_cod_FP</td>
						<td>@fp.DataEmissao</td>
						<td>@fp.MesAnoRef</td>
						<td>@fp.SalarioLiquido</td>
						<td>@fp.SalarioBruto</td>
						<td>@fp.Inss</td>
						<td>@fp.Irrf</td>
						<td>@fp.Fgts</td>
						<td>@fp.HorasExtras</td>
						<td>@fp.Bonus</td>
						<td>@fp.Atrasos</td>
						<td>@fp.Faltas</td>
						<td>
							<div>
								<a asp-controller="FolhaPagamento" asp-route-id="@fp.id_cod_FP" asp-action="FolhaDownload" class="btn btn-primary">Baixar folha </a>
							</div>
						</td>
					</tr>
				}

				
			}
	</tbody>
</table>
<br />

<h4> Todos os descontos</h4>

<table class="table">
	@if (Model.Folhas != null)
	{
		@foreach (var fp in Model.Folhas)
		{
			<thead>
				<tr>
					<th scope="col">Motivo Descontos</th>
					<th scope="col">Valores</th>
					<th scope="col"></th>

				</tr>
			</thead>

			@foreach (var desc in fp.Descontos)
			{

				<tbody>
					<tr>
						<td>@desc.Motivo</td>
						<td>@desc.Valor</td>
						<td>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#Modal-Descontos-@desc.id_cod_des" style="width: 5rem;">
									Apagar
								</button>
							</div>
						</td>
					</tr>
				</tbody>
				
			}
			break;
		}
	}

</table>

@if (Model.Folhas != null)
{
	foreach (var folha in Model.Folhas)
	{
		foreach (var desc in folha.Descontos)
		{
			<!-- Modal -->
			<div class="modal fade" id="Modal-Descontos-@desc.id_cod_des" tabindex="-1" aria-labelledby="modalConfirmarApagar" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="modalConfirmarApagarLabel">Apagar desconto</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>
								Deseja apagar o desconto <b>@desc.Motivo</b>?
							</p>
						</div>
						<div class="modal-footer">
							<a asp-controller="FolhaPagamento" asp-route-id="@desc.id_cod_des" asp-action="DeleteDesconto" class="btn btn-danger">Apagar</a>
							<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
			
		}
	}
}

<br />


<h4> Todos os beneficios</h4>

<table class="table">
	@if (Model.Folhas != null)
	{
		@foreach (var fp in Model.Folhas)
		{
			<thead>
				<tr>
					<th scope="col">Beneficios</th>
					<th scope="col">Valores</th>
					<th scope="col"> </th>

				</tr>
			</thead>

			@foreach (var bene in fp.Beneficios)
			{

				<tbody>
					<tr>
						<td>@bene.Nome_Ben</td>
						<td>@bene.valor</td>
						<td>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#Modal-Beneficio-@bene.id_cod_Ben" style="width: 5rem;">
									Apagar
								</button>
							</div>
						</td>

					</tr>
				</tbody>
			}
			break;
		}

	}
</table>

@if (Model.Folhas != null)
{
	foreach (var folha in Model.Folhas)
	{
		foreach (var bene in folha.Beneficios)
		{
			<!-- Modal -->
			<div class="modal fade" id="Modal-Beneficio-@bene.id_cod_Ben" tabindex="-1" aria-labelledby="modalConfirmarApagar" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="modalConfirmarApagarLabel">Apagar desconto</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>
								Deseja apagar o beneficio <b>@bene.Nome_Ben</b>?
							</p>
						</div>
						<div class="modal-footer">
							<a asp-controller="FolhaPagamento" asp-route-id="@bene.id_cod_Ben" asp-action="DeleteBeneficio" class="btn btn-danger">Apagar</a>
							<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>

		}
	}
}

					<!-- Precisa adicionar um botao de voltar-->