@model Projeto_pimWEB.Models.Classes.Funcionario

@{
    ViewData["Title"] = "Detalhes";
    var dependentes = ViewBag.dependentes;

}

<h1>Detalhes</h1>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargaHoraria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargaHoraria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemAcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemAcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CTPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CTPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
    </dl>

    <div class="row">
        <h3 class="text-center"> Dependentes cadastrados</h3>
        <dl>
            @foreach (var dependente in dependentes)
            {
                <dt class="col-sm-2">
                   Código: 
                </dt>
                <dd class="col-sm-10">
                   @dependente.id_cod_dep
                </dd>

                <dt class="col-sm-2">
                    Nome:
                </dt>
                <dd class="col-sm-10">
                    @dependente.Nome
                </dd>

                <dt class="col-sm-2">
                    Data de Nascimento:
                </dt>
                <dd class="col-sm-10">
                    @dependente.DtNascimento
                </dd>

                <dt class="col-sm-2">
                    Parentesco:
                </dt>
                <dd class="col-sm-10">
                    @dependente.Parentesco
                </dd>
            }
        </dl>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_cod_func">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
