@model Projeto_pimWEB.Models.Classes.Funcionario

@{
    ViewData["Title"] = "Registro Dependentes";

}
<h1> Registro de dependentes</h1>
<br />

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger close-alert">
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success close-alert">
        @TempData["MensagemSucesso"]
    </div>

}
<br />
@if (Model.dependentes != null)
{
<table class="table">
    <thead>
        <tr>
            <th class="col-1" scope="col">#</th>
            <th class="col-4" scope="col">Nome</th>
            <th class="col-1" scope="col">Parentesco</th>
            <th class="col-4" scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.dependentes != null && Model.dependentes.Any())
        {
            foreach (var d in Model.dependentes)
            {
                <tr>
                    <th scope="row">@d.id_cod_dep</th>
                    <td>@d.Nome</td>
                    <td>@d.Parentesco</td>
                    <td>
                        <div class="d-flex" role="group">
                            <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#Modal-Dependente-@d.id_cod_dep" style="width: 5rem;">
                                Apagar
                            </button>
                            <a class="btn btn-dark m-2" style="width: 5rem; asp-controller="Funcionario" asp-route-id="@d.id_cod_dep" asp-action="Editar_depen"> Editar </a>

                        </div>
                    </td>
                </tr>


            }
        }
        else
        {
            <tr>
                <th class="text-center"> Não possui dependentes</th>
            </tr>
        }
    </tbody>



</table>
}

@if (Model.dependentes != null)
{
    foreach (var d in Model.dependentes)
    {
        <!-- Modal -->
        <div class="modal fade" id="Modal-Dependente-@d.id_cod_dep" tabindex="-1" aria-labelledby="modalConfirmarApagar" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalConfirmarApagarLabel">Apagar dependente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Deseja apagar o dependente <b>@d.Nome</b>?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a asp-controller="Funcionario" asp-route-id="@d.id_cod_dep" asp-action="Deletar_Dependente" class="btn btn-danger">Apagar</a>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div class="d-flex justify-content-center mt-5">
    <a style ="width: 7rem" asp-controller="Funcionario" asp-action="Registro" class="btn btn-secondary me-5" role="button">Voltar</a>
    <a style ="width: 7rem" asp-controller="Funcionario" asp-route-id="@Model.id_cod_func" asp-action="Create_depen" class="btn btn-dark" role="button">Adicionar</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
