@model List<Projeto_pimWEB.Models.Classes.Funcionario>

@{
	ViewData["Title"] = "Registro de funcionarios";

}


<h1 class="display-4 text-center"> Funcionários</h1>
<br />



<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col" class="d-none d-lg-table-cell">#</th>
			<th scope="col">Nome</th>
			<th scope="col" class="d-none d-lg-table-cell">E-mail</th>
			<th scope="col">Telefone</th>
			<th scope="col" class="d-none d-lg-table-cell">Departamento</th>
			<th scope="col">Cargo</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			foreach (var func in Model)
			{
				if (func.Ativo == true)
				{
					<tr>
						<th scope="row" class="d-none d-lg-table-cell">@func.id_cod_func</th>
							<td>@func.Nome</td>
						<td class="d-none d-lg-table-cell">@func.Email</td>
							<td>@func.Telefone</td>
						<td class="d-none d-lg-table-cell">@func.Departamento</td>
							<td>@func.Cargo</td>
							<td class="">


								<div class="btn-group">
									<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi bi-gear-fill"></i>
									</button>
									<ul class="dropdown-menu">
										<li>
										<a asp-controller="Funcionario" asp-route-id="@func.id_cod_func" asp-action="Registro_depen" class="dropdown-item d-flex justify-content-between">Dependentes <i class="bi bi-people-fill"></i></a>
										</li>
										<li>
										<a asp-controller="Funcionario" asp-route-id="@func.id_cod_func" asp-action="Detalhes" class="dropdown-item d-flex justify-content-between">Detalhes <i class="bi bi-person-lines-fill"></i></a>
										</li>
										<li>
										<a asp-controller="Funcionario" asp-route-id="@func.id_cod_func" asp-action="Editar" class="dropdown-item d-flex justify-content-between">Editar <i class="bi bi-pencil-square"></i></a>
										</li>
										<li>
											<hr class="dropdown-divider">
										</li>
										<li>
											<!-- Button trigger modal -->
										<button type="button" class="dropdown-item text-danger d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#Modal-Funcionario-@func.id_cod_func">
											Desativar <i class="bi bi-person-fill-x"></i>
										</button>					
										</li>
									</ul>
								</div>
							</td>
					</tr>
				}
			}
		}
	</tbody>
</table>

@if(Model != null)
{
	foreach (var func in Model)
	{
		<!-- Modal -->
		<div class="modal fade" id="Modal-Funcionario-@func.id_cod_func" tabindex="-1" aria-labelledby="modalConfirmarApagar" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="modalConfirmarApagarLabel">Apagar Funcionario</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>
							Deseja desativar o funcionário <b>@func.Nome</b>?
						</p>
					</div>
					<div class="modal-footer">
                        <a asp-controller="Funcionario" asp-route-id="@func.id_cod_func" asp-action="Desativar" class="btn btn-danger">Desativar</a>
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	}
}





