@model Projeto_pimWEB.Models.Classes.Funcionario

@{
    ViewData["Title"] = "Registro Dependentes";
    //var dependentes = ViewBag.dependentes;
}

<h1> Registro de dependentes</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Parentesco</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.dependentes != null && Model.dependentes.Any())
        {
            foreach (var d in Model.dependentes)
            {
                <tr>
                    <th scope="row">@d.id_cod_dep</th>
                    <td>@d.Nome</td>
                    <td>@d.Parentesco</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a  asp-controller="Funcionario" asp-route-id="@d.id_cod_dep" asp-action="Editar_depen" class="btn btn-primary">Editar</a>
                            <a asp-controller="Funcionario" asp-route-id="@d.id_cod_dep" asp-action="Deletar_Dependente" class="btn btn-danger">Apagar</a>
                        </div>
                    </td>
                </tr>


            }
        }
        else
        {
            <tr>
                <th class="text-center"> Não possui dependentes</th>
            </tr>
        }
    </tbody>
    <a asp-controller="Funcionario" asp-route-id="@Model.id_cod_func" asp-action="Create_depen" class="btn btn-primary" role="button">Adicionar dependente</a>
    <a asp-controller="Funcionario" asp-action="Registro" class="btn btn-secundary" role="button">Voltar</a>

</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
